<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分页</title>
</head>
<body>
<ul>
    {% for area in page %}
        <li>{{ area.atitle }}</li>
    {% endfor %}
</ul>
{% if page.has_previous %}
<a href="/show_areas{{ page.previous_page_number }}">上一页</a>
{% endif %}
{% for pin in page.paginator.page_range %}
    {% if pin == page.number %}
        <span>{{ pin }}</span>
    {% else %}
        <a href="/show_areas{{ pin }}">{{ pin }}</a>
    {% endif %}
{% endfor %}
{% if page.has_next %}
<a href="/show_areas{{ page.next_page_number }}">下一页</a>
{% endif %}

</body>
</html>